.DS_Store
build/
*.pbxuser
xcuserdata/
LandingPage/MedNet/assets/img/slider/.DS_Store

iOS Prototype/DoctorsBreak/DoctorsBreak.xcodeproj/project.xcworkspace/xcuserdata/stanimirnikolov.xcuserdatad/UserInterfaceState.xcuserstate
